
.indexBody{
    margin: auto;
    font-family: "Verdana";
    
    
}

.indexHeader{
    background-image: linear-gradient(rgb(0,0,0, 0.6), rgb(0,0,0, 0.6)),  url("images/cave.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }


.buildsBody{
    margin: auto;
    font-family: "Verdana";
    background-image: linear-gradient(rgb(0,0,0, 0.6), rgb(0,0,0, 0.6)),  url("images/castlevillage.jpg");
    background-size: cover;
    height: 130vh;
    background-repeat: no-repeat;

}


.ourTeamBody{
  margin: auto;
  font-family: "Verdana";

}
.ourTeamHeader{
  background-image: linear-gradient(rgb(0,0,0, 0.6), rgb(0,0,0, 0.6)),  url("images/enderman.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;

}

  
ul {
    
  list-style-type: none;
  vertical-align: middle;   
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  
  width: 100%;
  
    
}

li {
  float: left;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 24px 24px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;

}

li a:hover:not(.active) {
    color: #53ded6;
    transition-duration: 500ms;
    cursor: pointer;
}

.active {
    /*background-color:#1d97d5 ;*/
    border-bottom: 4px solid #53ded6 ;
    transition-duration: 500ms;
}
  
.hero{
    margin: 0;
    
    font-size: 90px;
    color: white;
    padding-top: 50px;
    font-weight: 100px;
}
  
.hero p{
    margin-left: 4%;
}
  
#heroText{
    color: #53ded6;
}
  
.dropdown{
    display: none;

}

  
#arrow{
    font-size: 20px;
}

  
#logo{

    font-size: 55px;
    padding: 0px 50px;
}

  
#logoStart{
  color: #53ded6;
    
}

  
#logoEnd{
    font-weight: lighter;
}

p{
  font-weight: lighter;
}

.textBox{
  background-color: rgb(0,0,0,0.8);
  width: 30vw;
  height: 80vh;
  color: white;
  margin: 5px 5px;
  text-align: center;

}

#titleBuilds{
  margin-top: 30px;
  padding-top: 30px;
  font-weight: light;
  font-size: 3vw;
}

.textBox hr{
  width: 25vw;
  border: 2px solid #53ded6;

}

#mainText{
  font-size: 1vw;
}
  

.grid{
  margin: 5px 5px;
}

.grid img{
  width: 13vw;
  height: 26vh;
}

.grid div{
  width: 13vw;
  height: 26vh;
  background-color: rgb(0,0,0,0.8);
  color: white;

}

.container{
  display: flex;
  justify-content: space-evenly;
}




